# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\LIUYI\Python_pro\03-RL_based_on_pytorch_DQN\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
